/*字体引用区域*/
/*江西拙楷*/
@font-face {
  font-family: 'Jiangxizhuokai';
  src: url(/font/index/Jiangxi_Humble_Kai.ttf);
	/*Roboto*/
}
@font-face {
	font-family: 'ResourceHanRounded';
	src: url(/font/index/ResourceHanRoundedCN_Heavy.ttf);
}
/*正文开始*/
* {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  background-color: #add8fb;    /*添加一个背景颜色*/
}
/*header部分kai'shi*/
#header{
  margin-top: 35px;
  max-width: 100%;
  height: 280px;
}
#header .logo{  
  width: 100%;
  height: 100px;
  max-width: 100%;
  
}
#header .logo img{
  width: 95px;
  height: auto;
  margin-left: 50px;
}
#header .small-header{
  width: 95%;
  text-align: right;
  margin-top: -50px;
  font-size: 20px;
}
#header .small-header a{
  margin-right: 30px;                  /*设置右边距为10px*/
  font-size:25px;                      /*字体大小为25px*/
  color: #2f346b;                 /*设置字体颜色*/
  text-decoration: none;               /*去掉下划线*/
}
#header .small-header a:last-child{            /*这一块是为了移除最后一个超链接的右边距*/
  margin-right: 0px;
}
/*header部分结束*/
#writer{
  text-align: left;
  margin-left: 15%;
}
#writer .writer-hi{
  font-size: 240%; 
}
/*实现打字机效果的CSS代码片段*/
#writer .writer-text{
  font-family: 'Jiangxizhuokai'; /* 设置字体样式*/
  display: inline-block; /* 行内块元素显示 */
  position: relative; /* 相对定位 */
  font-size: 40px; /* 设置字体大小为40像素 */
  height: 60px; /* 设置高度为60像素 */
  line-height: 60px; /* 设置行高为60像素 */
  color: #1d334b; /* 设置颜色为RGB(245, 245, 245) 即浅灰色 */
}
 /* 产生光标闪烁的效果 */
 #writer .writer-text::after{
  content: '|';
  color:#041235;
  animation: blink 1s infinite;
}
@keyframes blink{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
/*打字机相关js片段结束*/
/*黑塔转圈圈相关开始*/
	/*转圈圈按钮*/
	#heita .heita-button {
	    background-color: #574f84;
	    border: none;
	    border-radius: 16px;
	    color: white;
	    padding: 16px 32px;
	    text-decoration: none;
	    font-size: 2em;
	    font-family: 'ResourceHanRounded';
	    font-weight: bold;
	    margin-top: 10%;
			margin-left:15%;
	    min-width: 120px;
	    position: absolute;
	    overflow: hidden;
	    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
	    cursor: pointer;
	    transition: background-color 0.1s ease-in-out, scale 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
  /*黑塔转圈圈效果css片段*/
  #heita .heita-gif{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #heita .heita-gif img{
    position: absolute;
    right: 0;
    width: 20%;
    height: auto;
    animation: floatleft 2s linear forwards;
  }
  @keyframes floatleft {
    0%{right: 0;}
    100%{left:0;opacity:0;}
  }